.App{
    /* height: 2802px; */
}

.mainSection{
    margin-top:500px;
    align-items: center;
    text-align: center;
}
#exclusive, #weeklyBest{ margin-top:30px; }


.mainEntryContainer{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.mainEntryContainer div {
    padding-left: 25px;
    border: none;
}

.mainEntry{
    width: 250px;
}

.mainSectionBtn{
    margin: 10px;
}

.gotoTotalBtn {
    color: gray;
    text-decoration: none;
    font-weight: 600;
    margin-top: -50px
}

.mainSection .gotoTotalBtn {
    position: absolute;
    right: 150px;
}


.selectBtnContainer{
    display: -webkit-inline-box;
    margin: 15px 0;
    width: fit-content;
    background: gray;
    border-radius: 50px;
}
.mainRadioLabel{
    border-radius: 50px;
    height: 40px;
    width: 130px;
    padding: 5px;
    color: white;
}
.mainRadioLabel:hover{
    background: #0a53be
}
.mainRadio:checked + .mainRadioLabel{
    background: #0d6efd;
}

.mainRadio{position:absolute;clip:rect(0,0,0,0);pointer-events:none} /* bootstrap */

#LoadingSection{
    width:100%;
    text-align:center;
}
#LoadingSection img {
    width:90%;
}





.card-img-top{
    width: 225px;
    height: 300px;
    border: 1px solid #ced4da;
    margin: 0 auto;
}